.navi-bar {
    background-color:black;
    color:white;
    height:50px;
    width:100%;
    font-size:20px;
    margin-top:2px;;
}

.navi-bar li {
    float:left;
    list-style-type:none;
    line-height:50px;
    padding-right:100px;
}

div {
    margin:50px auto;
}

h1 {
    text-align:center;
    margin:400px auto;
}

.loginframework {
    border:2px solid #dfdfdf;
    background:#fff;
    width:30%;
    margin:200px auto;
}

input[type="text"]{
    border:1px solid #dfdfdf;
    padding:5px;
    color:#999;
    background:#fff;
}

input[type="submit"]{
    padding:5px 10px;
    background-color:#727070;
    color:white;
    border:1px solid lightgray;
}



footer {
    background-color:black;
    color:white;
    height:50px;
    padding-top:20px;
    text-align:center;
    font-size:20px;
    
}